# App-specific
/upload/upload
/wiretut/wiretut
/terraform-getting-started-aws/ip_address.txt

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE
.vscode
*/debug

# Terraform
.terraform
*.tfvars
